.popup-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.popup-enter-active {
  transition: opacity 300ms ease, transform 300ms ease;
  opacity: 1;
  transform: translateY(0);
}

.popup-exit {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 300ms ease, transform 300ms ease;
}

.popup-exit-active {
  opacity: 0;
  transform: translateY(-20px);
}